<!-- Head banner-->
<header class="bg-info py-1">
  <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">Authors</h1>
          <p class="lead fw-normal text-white-50 mb-0">Your Online Bookshop</p>
      </div>
      <!-- Add new author -->
      <div class="text-center text-white pt-3">
      	<%= link_to "Add New Author", new_author_path, class:"btn btn-primary btn-lg" %>
      </div>
      
  </div>
</header>
<p style="color: green"><%= notice %></p> 

<!-- List all authors -->
<div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
        <div class="col-md-12">
        
        <div id="authors">
		  <% @authors.each do |author| %>
		    <%= render author %>
		    <p>
		      <%= link_to "Show this author", author %>
		    </p>
		  <% end %>
	   </div>
        
        </div>
    </div>
</div>
<!-- empty row  -->
<div class="row">
   <div class="col-md-12" style="height:200px;"></div>
</div>
