<!-- Header-->
<header class="bg-info py-1">
  <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">Editing Category</h1>
          <p class="lead fw-normal text-white-50 mb-0">Your Online Bookshop</p>
          		
          <div class="py-3">
		  <%= link_to "Show this category", @category, class: "btn btn-outline-warning" %>
		  <%= link_to "Back to categories", categories_path, class: "btn btn-outline-warning" %>
		</div>         
      </div>
      
  </div>
</header>



<div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
        <div class="col-md-12">
		<%= render "form", category: @category %>
        
        </div>
    </div>
</div>

<div class="row">
   <div class="col-md-12" style="height:280px;"></div>
</div>