<!-- Header-->
<header class="bg-info py-1">
  <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">Category</h1>
          <p class="lead fw-normal text-white-50 mb-0">Your Online Bookshop</p>
      </div>
      <div class="text-center text-white pt-3">
      	<%= link_to "Add New Category", new_category_path, class:"btn btn-primary btn-lg" %>
      </div>     
  </div>
</header>
<p style="color: green"><%= notice %></p>

<div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
        <div class="col-md-12">

		<div id="categories">
		  <% @categories.each do |category| %>
		    <%= render category %>
		    <p>
		      <%= link_to "Show this category", category %>
		    </p>
		  <% end %>
		</div>

        </div>
    </div>
</div>

<div class="row">
   <div class="col-md-12" style="height:200px;"></div>
</div>