<div id="<%= dom_id review %>">
  <p>
    <strong>Who:</strong>
    <%= review.who %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= review.message %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= review.book_id %>
  </p>

</div>
